@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "variables";

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: $inter;
    padding: 0 1em;
    background-color: $white-lighttheme;
}

.main-header {
    display: flex;
    flex-direction: column;
    background-color: $veryPaleBlue-lighttheme;
    border-radius: 1em;
    padding: 1em 1em 4em 1em;
    // padding: 0 0 4em 0;
    z-index: 0;


    // justify-content: space-between;

    .main-header__info {
        
        h1 {
            color: $veryDarkBlue;
            font-size: 1.7em;
            font-weight: 700;
        }

        p {
            color: $darkGrayishBlue-lighttheme;
            font-weight: 700;
            font-size: 1.1em;
        }

        hr {
            border: 1px solid $desaturatedBlue
        }
    }


    .main-header__toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: $darkGrayishBlue-lighttheme;
            font-weight: 700;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 53px;
            height: 26px;
    
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-image: $darkThemeToggle;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            background-color: $darkDesaturatedBlue;
           
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }
}

.dashboard {
    height: 100%;
    z-index: 1;
    position: relative;
    top: -50px;

    .top-dashboard {
        height: 100%;
        padding: 0 0.2em;
        margin-top: 2em;


        .top-dashboard__card {
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1em;
            background-color: $lightGrayishBlue-lighttheme;
            margin-bottom: 1em;
            border-image-slice: 1;


            .card__socials {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 0.9em;
                    margin-left: 0.4em;
                    font-weight: 700;
                    color: $darkGrayishBlue-lighttheme;
                }
            }

            .card__info {
                margin: 0.5em 0;

                h1 {
                    font-size: 3.5em;
                    font-weight: 700;
                    margin: 0;
                    color: $veryDarkBlue;
                }

                p {
                    font-size: .8em;
                    text-transform: uppercase;
                    letter-spacing: 0.5em;
                    text-align: center;
                    margin: 0;
                }
            }

            .card__scores {
                display: flex;
                justify-content: center;
                align-items: center;

                p {

                    font-weight: 700;
                    font-size: 0.9em;

                    &.positive {
                        color: $limeGreen;
                    }

                    &.negative {
                        color: $brightRed;
                    }

                }

                >* {
                    margin-right: 0.2em;
                }
            }

            &#facebook {
                border-top: 4px solid $facebook;
            }

            &#twitter {
                border-top: 4px solid $twitter;
            }

            &#instagram {
                // border-style: solid;
                // // border-width: 4px 0 0 0;
                // border-radius: 1em;
                // border-top: 4px solid red;
                // border-bottom-width: 0;
                // border-left-width: 0;
                // border-right-width: 0;
                position: relative;
                border-top: 4px solid;
                overflow: hidden;
                border-image: $instagram;
                // border-image-source: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));

            }

            &#youtube {
                border-top: 4px solid $youtube;
            }
        }
    }

    .bottom-dashboard {
        height: 100%;

        h2 {
            padding: 1em 1em 0 1em;
            margin-top: 1em;
            color: $darkGrayishBlue-lighttheme;
            font-size: 1.8em;
        }

        .bottom-dashboard__cards {
            display: flex;
            flex-direction: column;
            

            .bottom-dashboard__cards-card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2em;
                margin: 0.5em;
                border-radius: 1em;
                background-color: $lightGrayishBlue-lighttheme;
                // height: 100%;
                // min-height: 130px;

                .card-result {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                
                    
                    
                    h3 {
                        font-size: 1.1em;
                        color: $darkGrayishBlue-lighttheme;
                        
                    }

                    p {
                        color: $veryDarkBlue;
                        font-weight: 700;
                        font-size: 2.5em;
                        margin: 0;
                    }
 
                }
                .card-social-results{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-top: 1em;

                    
                    .card-social-results__status {
                        margin-top: 1em;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    
                       

                        > p.card__scores-result {
                            margin-left: 0.2em;
                        }
                    }
                }
            }
        }
    }
}

.positive {
    color: $limeGreen;
    font-weight: 700;
}

.negative {
    color: $brightRed;
    font-weight: 700;
}

.darktheme-heading {
    color: $white-darktheme !important;
}

.darktheme-text {
    color: $desaturatedBlue !important;
}

.darktheme-cardbg {
    background-color: $darkDesaturatedBlue !important;
}

.darktheme-background{
    background-color: $veryDarkBlueBG !important;    
}

.darktheme-topbackground {
    background-color: $veryDarkBlueTopBG !important;
}

.toggleBackground-darktheme {
    background-color: $darkThemeToggle;
}