@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* DARK THEME */
/* LIGHT THEME */
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  padding: 0 1em;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header .main-header__info h1 {
  color: #1e202a;
  font-size: 1.8em;
  font-weight: 700;
}

.main-header .main-header__info p {
  color: #63687e;
  font-weight: 700;
  font-size: 1.1em;
}

.main-header .main-header__info hr {
  border: 1px solid #8b97c6;
}

.main-header .main-header__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.main-header .main-header__toggle p {
  color: #63687e;
  font-weight: 700;
}

.main-header .main-header__toggle .switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 26px;
}

.main-header .main-header__toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main-header .main-header__toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-header .main-header__toggle .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-header .main-header__toggle input:checked + .slider {
  background-color: #aeb3cb;
}

.main-header .main-header__toggle input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.main-header .main-header__toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.main-header .main-header__toggle .slider.round {
  border-radius: 34px;
}

.main-header .main-header__toggle .slider.round:before {
  border-radius: 50%;
}

.top-dashboard-section {
  height: 100%;
}

.top-dashboard-section .top-dashboard {
  height: 100%;
  padding: 0 0.2em;
  margin-top: 2em;
}

.top-dashboard-section .top-dashboard .top-dashboard__card {
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em;
  background-color: #f0f2fa;
  margin-bottom: 1em;
  border-image-slice: 1;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__socials p {
  font-size: 0.9em;
  margin-left: 0.4em;
  font-weight: 700;
  color: #63687e;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__info {
  margin: 0.5em 0;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__info h1 {
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__info p {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 0;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__scores p {
  font-weight: 700;
  font-size: 0.9em;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__scores p.positive {
  color: #1db489;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__scores p.negative {
  color: #dc414c;
}

.top-dashboard-section .top-dashboard .top-dashboard__card .card__scores > * {
  margin-right: 0.2em;
}

.top-dashboard-section .top-dashboard .top-dashboard__card#facebook {
  border-top: 4px solid deepskyblue;
}

.top-dashboard-section .top-dashboard .top-dashboard__card#twitter {
  border-top: 4px solid #1ca0f2;
}

.top-dashboard-section .top-dashboard .top-dashboard__card#instagram {
  position: relative;
  border-top: 4px solid;
  overflow: hidden;
  -o-border-image: linear-gradient(to right, #fdc468, #df4996) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996)) 1;
     border-image: linear-gradient(to right, #fdc468, #df4996) 1;
}

.top-dashboard-section .top-dashboard .top-dashboard__card#youtube {
  border-top: 4px solid #c4032a;
}
/*# sourceMappingURL=style.css.map */